<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esteban.proyectos.abx">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Grupo ABX"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Act_cotizaciones"
            android:label="@string/title_activity_act_cotizaciones"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Act_articulos"
            android:label="@string/title_activity_act_articulos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Act_nueva_cotizacion"
            android:label="@string/title_activity_act_nueva_cotizacion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Act_descripcion_cotizacion"
            android:label="@string/title_activity_act_descripcion_cotizacion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pag_Web"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Introduccion_uno"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Introduccion_dos"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Introduccion_tres"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>

</manifest>